* {
	-webkit-transition: 0.4s ease-in-out;
}

.position {
	width: 386px;
	height: 802px;
	margin: 0px auto;
	position: relative;
	padding-top: 100px;
}

.device-position {
	width: 320px;
	height: 568px;
	margin: 0px auto;
	position: relative;
}

.frame {
	border: 5px solid #6d6c71;
	border-radius: 56px;
	position: absolute;
	top: -114px;
	left: -28px;
	right: -28px;
	bottom: -114px;
	background: #292e31;
}

.sleep {
	width: 60px;
	height: 4px;
	background: #38373b;
	background: linear-gradient(to right, #838287 0%,#555 15%,#555 85%,#838287 100%);
	position: absolute;
	top: -118px;
	right: 35px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.button {
	position: absolute;
	left: -32px;
	width: 4px;
	background: linear-gradient(to bottom, #838287 0%,#555 15%,#555 85%,#838287 100%);
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.silent, .size-4s:hover .device-position:hover .silent {
	top: -4px;
	height: 40px;
}

.vol, .size-4s:hover .device-position:hover .vol {
	height: 30px;
}

.up, .size-4s:hover .device-position:hover .up {
	top: 70px;
}

.down, .size-4s:hover .device-position:hover .down {
	top: 136px;
}

.display {
	position: absolute;
	top: -4px;
	left: -4px;
	right: -4px;
	bottom: -4px;
	background: #333;
	border: 4px solid #0c0d11;
	border-radius: 3px;
}

.camera, .size-4s:hover .device-position:hover .camera {
	position: absolute;
	top: -82px;
	left: 50%;
	margin-left: -7px;
	background: #212323;
	border-radius: 7px;
	width: 14px;
	height: 14px;
}

.speaker, .size-4s:hover .device-position:hover .speaker {
	position: absolute;
	left: 50%;
	top: -52px;
	height: 14px;
	width: 70px;
	border-radius: 7px;
	margin-left: -35px;
	background: #222;
}

.sensor, .size-4s:hover .device-position:hover .sensor {
	position: absolute;
	top: -50px;
	left: 50%;
	margin-left: -57px;
	width: 10px;
	height: 10px;
	background: #222;
	border-radius: 5px;
}

.home-button, .size-4s:hover .device-position:hover .home-button {
	position: absolute;
	bottom: -90px;
	left: 50%;
	width: 60px;
	height: 60px;
	margin-left: -34px;
	border: 4px solid #666;
	border-radius: 34px;
}

.size-4s {
	margin-top: 10px;
	margin-left: -100px;
	padding-left: 100px;
	text-indent: -90px;
	width: 16px;
	height: 32px;
	background: #CCC;
	line-height: 32px;
}

.size-4s:active .frame {
	background: #FFF;
}

.size-4s:hover .device-position {
	height: 480px;
}

.size-4s:hover .device-position:hover {
	height: 568px;
}

.size-4s:hover .home-button {
	border: 1px solid #666;
	margin-left: -30px;
}


.home-button .old-home-button, .size-4s:hover .device-position:hover .old-home-button {
	position: absolute;
	left: 30px;
	top: 30px;
	height: 0px;
	width: 0px;
	border: 1px solid rgba(0,0,0,0);
}

.size-4s:hover .home-button .old-home-button {
	position: absolute;
	left: 19px;
	top: 19px;
	height: 20px;
	width: 20px;
	border: 1px solid #999;
}

.size-4s:hover .speaker {
	top: -54px;
	margin-left: -28px;
	height: 8px;
	width: 62px;
}

.size-4s:hover .sensor {
	background: rgba(0,0,0,0);
}

.size-4s:hover .camera {
	position: absolute;
	top: -60px;
	left: 50%;
	margin-left: -80px;
	border-radius: 9px;
	width: 18px;
	height: 18px;
}

.size-4s:hover .silent {
	top: -34px;
	height: 34px;
}

.size-4s:hover .up {top: 32px}
.size-4s:hover .down {top: 96px}